<html ng-app='main'>

<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bundle.css" rel="stylesheet">

</head>

<body>
<div ng-controller='windowShows'>
    <!-- Your site -->
    <div class="navbar navbar-success" ng-controller='nav'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Munchkin</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav"  ng-show='state.start'>
                <li><a href="javascript:void(0)" ng-click='add()'>New Game</a></li>
                <li><a href='javascript:void(0)' ng-click=''>Continue Game</a></li>
            </ul>

            
        </div>
    </div>
<div class='container'>
    <div class='row' ng-controller='home' ng-show='state.start'>
        <div class='col-lg-8 col-xs-8 col-sm-8'>
            <div class="alert alert-dismissable">
               
            </div>
        </div>
        <div class='col-lg-4 col-xs-4 col-sm-4 start-box'>
            <div class='alert alert-dismissable'>
                
            </div>
        </div>
    </div>

    <div ng-controller='mainApp' ng-show='state.app'>
        <div class='row'>
           
        </div>
    </div>



</div>


</div>
    <!-- Your site ends -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
   <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js.map"></script> -->
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    <script src="bundle.js"></script>
    

</body>

</html>
