<html ng-app='main'>

<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bundle.css" rel="stylesheet">

</head>

<body>
    <!-- Your site -->
    <div class="navbar navbar-success" ng-controller='nav'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Munchkin</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav"  ng-show='state.start'>
                <li><a href="javascript:void(0)" ng-click='add()'>New Game</a></li>
                <li><a href='javascript:void(0)' ng-click=''>Continue Game</a></li>
            </ul>

            
        </div>
    </div>


    <!-- Your site ends -->

    <script src="bundle.js"></script>
    

</body>

</html>
